source_server.type=None
source_server.host=None
source_server.port=1521
source_server.name=None
source_server.username=None
source_server.password=None
source_server.encoding=UTF-8

destination_server.type=flask
destination_server.host=http://182.18.180.179:5000
destination_server.port=5000
destination_server.username=kims
destination_server.password=p@ssw0rd
destination_server.encoding=UTF-8

source_db.type=None
destination_db.type=None
