source_db.type=Oracle
source_db.host=10.20.100.70
source_db.port=1521
source_db.name=CENTRALDB
source_db.username=KIMS_SAP_INT_TEST
source_db.password=KIMS_SAP_INT_TEST
source_db.encoding=UTF-8

destination_db.type=Oracle
destination_db.host=10.20.100.66
destination_db.port=1521
destination_db.name=orcl
destination_db.username=MEDINEED
destination_db.password=MEDINEED
destination_db.encoding=UTF-8

ETL_METADATA=%ETL_HOME%\config\A_KIMS_DCDB2CDB_SAP