source_db.type=File
source_db.host=10.20.100.70
source_db.port=1521
source_db.name=CENTRALDB
source_db.username=HIMS_DA_ALL
source_db.password=HIMS_DA_ALL
source_db.encoding=UTF-8

destination_db.type=postgresql
destination_db.host=localhost
destination_db.port=5432
destination_db.name=datalake_p
destination_db.username=postgres
destination_db.password=p@ssw0rd
destination_db.encoding=UTF-8

ETL_METADATA=%ETL_HOME%/config/A_KIMS_FILE2DB_DA