source_db.type=Oracle
source_db.host=10.20.100.21
source_db.port=1521
source_db.name=orcl
source_db.username=HIMS_DA_INT
source_db.password=HIMS_DA_INT
source_db.encoding=UTF-8

destination_db.type=Oracle
destination_db.host=10.20.100.70
destination_db.port=1521
destination_db.name=CENTRALDB
destination_db.username=HIMS_DA_INT_ALL
destination_db.password=HIMS_DA_INT_ALL
destination_db.encoding=UTF-8

ETL_METADATA=%ETL_HOME%\config\A_KIMS_DCDB2CDB_Analytics