source_db.type=postgresql
source_db.host=localhost
source_db.port=5432
source_db.name=datalake_p
source_db.username=postgres
source_db.password=p@ssw0rd
source_db.encoding=UTF-8

destination_db.type=postgresql
destination_db.host=localhost
destination_db.port=5432
destination_db.name=datalake_p
destination_db.username=postgres
destination_db.password=p@ssw0rd
destination_db.encoding=UTF-8

