source_db.type=postgresql
source_db.host=localhost
source_db.port=5432
source_db.name=datalake_p
source_db.username=postgres
source_db.password=p@ssw0rd
source_db.encoding=UTF-8

destination_db.type=elasticsearch
destination_db.host='localhost'
destination_db.port='9200'
#destination_db.name=datalake_p2
destination_db.username='elastic'
destination_db.password='Suresh@suvarna$123#Analytics'


ETL_METADATA=%ETL_HOME%/config/A_KIMS_PGSQL2ES_DA
