ETL_HOME =/data/DA/ETL/APP
ETL_OS=linux
ETL_CONFIG = /data/DA/ETL/APP/config
ETL_LOG = /data/DA/ETL/APP/log
ETL_OUTPUT = /data/DA/ETL/APP/output
ETL_INPUT = /data/DA/ETL/APP/input



#log_db.type=Oracle
#log_db.host=192.168.100.36
#log_db.port=1521
#log_db.name=CENTRALDB
#log_db.username=KIMS_SAP_INT
#log_db.password=KIMS_SAP_INT
#log_db.encoding=UTF-8

etl_db.type=postgresql
etl_db.host=localhost
etl_db.port=5432
etl_db.name=datalake_etl
etl_db.username=postgres
etl_db.password=p@ssw0rd
etl_db.encoding=UTF-8


etl_db.type=postgresql
source_db.type=postgresql
destination_db.type=elasticsearch
source_server.type=NA
destination_server.type=NA

os=linux
